.app {
     /* Add app styles here */
}

.feature-popover .body {
    background-color: #fff;
    padding: 10px;
}

.feature-popover .title {
    margin-bottom: 10px;
}

.feature-popover .message {
    margin-top: 10px;
    font-weight: bold;
    color: green;
}

.feature-popover .message .late {
    color: red;
}

.feature-popover .message .behind {
    color: orange;
}
